.input {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.input__field {
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-color: #e5e7eb;
  color: #374151;
  font-weight: bold;
  border: none;
  font-size: 100%;
}

.input__field:focus {
  outline: none;
}

.input__field::placeholder {
  color: #9ca3af;
}

.input__field--dark {
  background-color: #374151;
  color: #fbbf24;
}

.input button,
.input i {
  border: none;
  background-color: #fbbf24;
  color: #374151;
  font-weight: bold;
  font-size: 100%;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.input i {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input--small input,
.input--small button {
  font-size: 75%;
}

.input--large input,
.input--large button {
  font-size: 125%;
}
